body {
  background-color: white;

}
h1 {
  color: black;
  margin-left: 30px;
   text-align: center;
 text-shadow: 2px 2px 5px orange;
   font-family: Helvetica
}

p {
  text-align: center;
  text-decoration: underline;
  color: black;
  margin-left: 15px;
    font-family: Garamond

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}